<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Coach Information</title>
    <link rel="stylesheet" href='mainStyle.css'  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="Header">
        <img src="CodeAcademyLogo.png" alt="the_logo">
        <span>GPC2024/OCPC2024 - Pre-registration Form</span>
        <br />
      </div>
      <br />
      <hr />
      <br />
      <br />
      <div class="content">      
        <p class="subtitle"><span style="color:#F64B7D;"> Coach </span> Information</p>
        <br />
        <form method="post">
          <!--{% csrf_token %}-->
          <div class="user-details">
              <div class="input-box">
                <span class="details">Coach Name</span>
                <input
                  type="text"
                  name="coach_name"
                  placeholder="The coach name"
                  required
                />
              </div>

              <div class="input-box">
                <span class="details">Coach Gender</span>
                <select name="gender" class="selection" required>
                  <option value="" disabled selected>Gender</option>
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                </select>
              </div> 
              
              <div class="input-box" >
                <span class="details">Coach1 T-shirt size</span>
                <select name="gender" class="selection" required>
                  <option value="" disabled selected>Choose the T-shirt size</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                  <option value="not required">T-Shirt is not required</option>
                </select>
              </div> 

              <div class="input-box">
                  <span class="details">Official communication email</span>
                  <input
                    type="email"
                    name="email"
                    placeholder="email@gmail.com "
                    required
                  />
              </div>
          </div>
          <br/>                    
        </form>

      </div>
      <hr />
      <br />
      <div>
        <a href='teamInfo.html'> 
          <button type="button">Next</button> 
        </a>
      </div>
    </div>

    <script>
      document
        .getElementById("course-select")
        .addEventListener("change", function () {
          var selectedOption = this.options[this.selectedIndex];
          var coursePrice = selectedOption.text.split(" - ")[1];
          document.getElementById("course-price").innerText =
            "Price: " + coursePrice;
        });
    </script>
  </body>
</html>
