*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #6262A8;
}

p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.container{
    max-width: 750px;
    width: 100%;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .Header {
    font-size: 25px;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
}

.container .title {
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #F64B7D;
  
}

.container {
    text-align: justify;
    line-height: 1.5;

}

button{
    margin: 10px 0;
    background: #F64B7D;
    width: 25%;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 38.5%;
}

button:hover{
    /* transform: scale(0.99); */
    background: #d9d9d9;
    color:#F64B7D ;
    font-weight: bold;
}

hr { 
    height: 1.5px; 
    background-color: #FFC404; 
    border: none;
}

.container .Header img{
    width: 40px;
    height: 35px;
    float: left;
    margin-left: 15px;
}

.choose {
    width: 30%;
    background-color: rgb(255, 196, 4, 0.2);
    height: 200px;
    border-radius: 4px;
    border: none;
}

.choose img{
    padding: 8px;
    width: 200px;
    height: 100px;
}

.subtitle {
    float: left;
    font-size: 16px;
}

.content form .user-details{
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  width: 100%;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 30px);
  display: inline-block;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 1px;
  font-family: Jacques Francois;
  font-size: 13px;
}
.user-details .input-box input{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #D9D9D9;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: #737373;
  margin-bottom: 10px;
}
select {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #D9D9D9;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  appearance: none; /* Removes default arrow in most browsers */
  color: #737373;
}
